stages:
  - preconfigure
  - build
  - test
  - publish

build:amd64:
  stage: build
  image: rust
  script:
    - cargo build --release
  artifacts:
    paths:
      - target/release/fileshare
      
tests-integration-test:
  stage: test
  image: rust
  services:
    - name: postgres:16
      alias: PGDB
    - name: redis:8
      alias: cache
  variables:
    POSTGRES_DB: fileshare
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: example
    DATABASE_URL: postgres://myuser:mypass@db:5432/mydb
  dependencies:
    - build:amd64
  script:
    - until pg_isready -h db -U $POSTGRES_USER; do echo "Waiting for Postgres..."; sleep 1; done
    - cargo install sqlx-cli --no-default-features --features postgres
    - sqlx database create
    - sqlx database migrate
    - ./target/release/my_backend
    - until [ curl:localhost:3000/api/healthcheck ]; do
      echo "Waiting on Backend to be Started"
      done
    - cargo test



rustdoc:
  stage: build
  image: rust
  script:
    - cargo doc
  artifacts:
    paths:
      - target/doc